
@font-face {
    font-family: "raty";
    src: url(../fonts/raty.woff) format("truetype");
}
@font-face {
    font-family: "lms";
    src: url(../fonts/lms.woff) format("truetype");
}
@font-face {
    font-family: "Avenir Light";
    src: url(../fonts/AvenirLTStd-Light.otf);
}
@font-face {
    font-family: "Avenir Book";
    src: url(../fonts/AvenirLTStd-Book.otf);
}
@font-face {
    font-family: "Avenir Black";
    src: url(../fonts/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "helveticaneue";
    src: url(../fonts/helveticaneue.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Times-Italic";
    src: url(../fonts/Times-Italic.ttf) format("truetype");
}
@font-face {
    font-family: "Times-Bold";
    src: url(../fonts/Times-Bold.ttf) format("truetype");
}

.font_Hel{
    font-family: "helveticaneue";
}
.font_OpenSans{
    font-family: "OpenSans-Bold";
}
.font_OpenSansRe{
    font-family: "OpenSans-Regular";
}
.font_OpenSansSe{
    font-family: "OpenSans-Semibold";
}
.font_Poppins{
    font-family: "Poppins-Medium";
}
.font_OpenSansBo{
    font-family: "OpenSans-Bold";
}
.font_PoppinsRe{
    font-family: "Poppins-Regular";
}
.font_TimesBo{
    font-family: "Times-Bold";
}
.font_TimesIta{
    font-family: "Times-Italic";
}

.modal-open .header {
    padding-right: 17px;
}

body p,label{
	font-size: 13.5px;
}
a:hover,a:focus{
    text-decoration: none !important;
    outline: none !important;
}
.btn:focus{
    text-decoration: none !important;
    outline: none !important;
}

.text-white{color: #fff;}
.text-yellow{color: #ffee2e;}
.text-red{color: #ff4242;}
.text-black{color: #282d32 !important;}
.text-gray{
	color: #999;
}
.text-yellow{
	color: #ffdb00;
}
.textYellow{
	color: #bb8e36;
}
.text-green{
    color: #5fca63;
}
.text-blue{
    color: #57bbed;
}
.text-bold{
    font-weight: bold;
}
.text-jus{
    text-align: justify
}

.item-box .proof .rating {
    float: right;
    margin-top: 3px;
}
.item-box .proof .rating i {
    font-size: 20px;
        color: #f7ca17;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "raty";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}
.star-on-png:before {
    content: "\f005";
}
.star-off-png:before {
    content: "\f006";
}

/***************************************.header******************************/


.header .main-header .navbar-ech .pullrightli{
    margin-left: 40px;
}
.header .main-header .navbar-ech .btn_getquote{
    margin-top: 23px;
    background-color: #0c639e;
    color: #fff;
    width: 150px;
    transition-duration: 0.4s;
    border: none;
    border-radius: 5px;
    position: relative;
    height: 38px;
}
.header .main-header .navbar-default{
    margin-bottom: 0px;
    background: transparent;
    border: none;
    box-shadow: none;
}
.header .main-header .navbar-ech li a{
    color: #435a6f;
    padding-bottom: 30px;
    padding-top: 32px;
}
.header .main-header .navbar-ech li:hover{
    background-color: #eeeeee;
}
.header .main-header .navbar-ech li:hover a{
    color: #bb8e36;
}
.header .main-header .navbar-ech li:hover.pullrightli,
.header .main-header .navbar-ech li:hover.pullrightli1{
    background-color: transparent;
}
.header .main-header .logo-header {
    margin-top: 5px;
}
.header .main-header li.ech-dropdown-courses {
    display: inline-block;
}
.header .main-header .ech-dropdown-courses .dropdown-content a:hover p{
    color: #ff8a00;
}
.header .main-header .ech-dropdown-courses .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eeeeee;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0px;
    z-index: 9999;
}
.header .main-header .loginCustom{
    text-align: center;
    border-left: 1px solid #ddd;
}
.header .main-header .loginCustom .btnLogin{
    height: 36px;
    width: 130px;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: transparent;
    color: #0d466d;
    transition-duration: 0.3s;
}
.header .main-header .loginCustom .btnLogin:hover{
    color: #fff;
    border: 1px solid #bb8e36;
    background-color: #bb8e36;
    transition-duration: 0.3s;
}
.header .main-header .loginCustom .pLogin{
    font-size: 13px;
    color: #0c64a0 !important;
    margin-top: 14px !important;
}
.header .main-header .loginCustom .pLogin:hover{
    color: #ff8a00 !important;
}
.header .main-header .loginCustom .h4Login{
    color: #0d466d !important;
    font-size: 17px !important;
}
.header .main-header .ech-dropdown-courses .dropdown-content .col_bi_pad{
    padding-left: 0px;
    padding-right: 0px;
}
.header .main-header .ech-dropdown-courses .dropdown-content h4{
    font-size: 13.5px;
    color: #0d68a6;
    padding-bottom: 10px;
}
.header .main-header .ech-dropdown-courses .dropdown-content a p{
    color: #435a6f;
    font-size: 13px;
    font-family: "OpenSans-Regular";
}
.afterscroll{
    top: -10px !important;
    background-color: #f7f7f7 !important;
}
/*.afterscroll .navbar-ech li a{
    padding-bottom: 24px !important;
}*/
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
} 

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


@media(min-width: 992px){
.header{
    background-color: #fff;
    transition: top 0.8s ease;
}
.header .main-header .ech-dropdown-courses .fa-caret-down{
    display: none;
}
}


@media (max-width:1199px ) and (min-width: 992px){
.header .main-header .logo-header{
    width: 170px;
}
.header .main-header .navbar-ech li a{
    padding-bottom: 30px;
    padding-top: 37px;
    padding-left: 9px;
    padding-right: 9px; 
}
.header .main-header .navbar-ech .pullrightli{
    margin-left: 0px;
}
.header .main-header .navbar-ech .btn_getquote{
    width: 115px;
    margin-top: 30px;
}
.header .main-header .ech-dropdown-courses:hover .dropdown-content {
    padding: 25px 1% 35px 12%;
}
.header .main-header .ech-dropdown-courses .dropdown-content a{
    padding: 0px;
}
}


/******Mobie****/
@media (max-width: 991px) {
  .header .main-header .navbar-header {
      float: none;
      
  }
  .header .main-header .loginCustom{
    border: none
}
  .header .main-header .navbar-left,.navbar-right {
      float: none !important;
  }
  .header .main-header .navbar-toggle {
      display: block;
  }
  .header .main-header .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
 .navbar-fixed-top {
    top: 0px !important;
    border-width: 0 0 1px;
}
/*  .header .main-header .navbar-collapse.collapse {
      display: none;
  }*/
  .header .main-header .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .header .main-header .navbar-nav>li {
      float: none;
  }
  .header .main-header .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .header .main-header .collapse{
      display: none !important;
  }
   .header .main-header .collapse.in{
      display: block !important;
  }
  .header .main-header .navbar-brand img{
    width: 150px;
    margin-top: -3px;
  }
  .header .main-header button{
    margin-top: 13px !important;
  }

.header .main-header #navbar{
    background-color: #f7f7f7;
    z-index: 999;
    padding-bottom:20px;
}
}
/*****End mobie******/




@media (max-width: 991px){
.header .main-header li.ech-dropdown-courses{
    display: block;
}
.header .main-header .navbar-ech .pullrightli{
    margin-left: 0px;
}
.header .main-header .navbar-ech .pullrightli1{
    margin-left: 15px;
}

.header .main-header .navbar-ech li:hover,
.header .main-header .navbar-ech li:hover.pullrightli{
    background-color: #375da4;
}
.header .main-header .navbar-ech li:hover a{
    color: #fff;
}
.header .main-header .navbar-ech li:hover.pullrightli{

}
.header .main-header .ech-dropdown-courses .dropdown-content .col_bi_pad{
    padding-left: 15px;
    padding-right: 15px;
}
}


/***************************************.bg-cat-all******************************/

.bg-cat-all{
    position: relative;
    /* margin-top: 82px; */
}
.bg-cat-all .caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-cat-all .caption .container{
    position: relative;
    min-height: 100%;
    
    text-align: center;
}
.bg-cat-all .caption .caption-table {
    display: table;
    padding-left: 20px;
}
.bg-cat-all .caption .caption-table .caption-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info{
    width: 49%;
    text-align: left;
    letter-spacing: 0.7px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info h4{
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 20px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info h3{
    color: #375da4;
    padding-bottom: 20px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info .btn_getquote {
    background-color: transparent;
    color: #435a6f;
    border: 1px solid #435a6f;
    width: 150px;
    height: 43px;
    transition-duration: 0.3s;
    position: relative;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info .btn_getquote:hover,
.bg-cat-all .caption .caption-table .caption-table-cell .info .btn_getquote:focus {
    color: #fff;
    border: 1px solid #bb8e36;
}

@media (max-width: 991px){
.bg-cat-all{
    position: relative;
    /* margin-top: 72px; */
}
}



/***************************************.service******************************/

.service{
    padding-top: 30px;
    padding-bottom: 40px;
}
.service .left-service{
    width: 25%;
    float: left;
}
.service .right-service{
    width: 75%;
    float: left;
    border-right: 1px solid #ddd;
    padding: 0px 5px;
}
.service .left-service img{
    width: 45px;
    margin-top: 32px;
}
.service .right-service h4{
    color: #375da4;
}

.service .right-service p{
    height: 40px;
}
.service .right-service a{
    color: #375da4;
}
.service .right-service a:hover h4{
    color: #bb8e36;
}
.service .remove_border{
    border-right: none;
}
.service .right-service .getAquote:hover{
    color: #ff8a00;
}

/***************************************.view******************************/

.view{
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #f7f7f7
}
.view .left-view p{
    padding-top: 15px;
}
.view .left-view .embed-responsive-16by9{
    border-radius: 7px;
}
.view .right-view h4{
    color: #375da4;
    padding-bottom: 10px;
    padding-top: 15px;
}
.view .right-view p{
    font-size: 14px;
    color: #435a6f;
    line-height: 25px;
    text-align: justify;

}
.view .right-view p a{
    color: #375da4;
    width: 80px;
    display: inline-block;
}
.view .right-view p a:hover{
    color: #ff8a00;
}
.view .right-view p.text-right-view{
    color: #435a6f;
    display: inline-block;
    padding-top: 20px;

} 
.view .right-view .btn_moreabout{
    color: #375da4;
    border: 1px solid #375da4;
    width: 140px;
    background-color: transparent;
    margin-left: 15px;
    position: relative;
} 
.view .right-view .btn_moreabout:hover{
    color: #fff;
    border: 1px solid #bb8e36;

} 

/***************************************.most_popular******************************/

.most_popular {
    background-color: #f7f7f7;
    padding-bottom: 110px;
}
.most_popular .title_most_popular h4{
    color: #435a6f;
    font-size: 20px;
}
.most_popular .item h4{
    color: #bb8e36;
    font-size: 14.5px;
    padding-top: 5px;
    overflow: hidden;
    height: 42px;
    line-height: 18px;
}
.most_popular .item p.content {
    color: #435a6f;
    padding: 0px 15px;
    overflow: hidden;
    height: 58px;
}


/***************************************.insurance******************************/

.insurance{
    background-color: #e5e7eb;
    padding-bottom: 50px;
}
.insurance .navtab_ech{
    margin-top: -41px;
    border-bottom: none;
}
.insurance .navtab_ech li a{
    background-color: #cfd1d4 ;
    margin-right: 0px;
    color: #435a6f;
    font-size: 13.5px;
    border-radius: 0px;
}
.insurance .navtab_ech li{
    width: 160px;
    text-align: center; 
}
/* .insurance .navtab_ech li:hover a{
    border: none;
} */
.insurance .navtab_ech li.active a{
    background-color: #e5e7eb ;
    color: #435a6f;
  
}
.insurance .tabcontent_ech h4.title{
    color: #435a6f;
    padding-bottom: 15px;
    padding-top: 25px;
}
.insurance .tabcontent_ech p{
    color: #435a6f;
    width: 74%;
    text-align: justify;
    line-height: 23px;
}
.insurance .tabcontent_ech p a{
    color: #0c639e;
    width: 80px;
    display: inline-block;
    margin-left: 5px;
}
.insurance .tabcontent_ech p a:hover{
    color: #ff8a00;
}
.insurance .tabcontent_ech h4.title_bot{
    color: #435a6f;
    padding-bottom: 15px;
    padding-top: 25px;
}
.insurance .tabcontent_ech form.form-inline .form-control{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.insurance .tabcontent_ech form.form-inline .email_of_ech{
    width: 33%;
    height: 66px;
}
.insurance .tabcontent_ech form.form-inline .name_of_ech{
    width: 20%;
    height: 66px;
}
.insurance .tabcontent_ech form.form-inline .btn_of_ech{
    width: 16%;
    height: 66px;
}
.insurance .tabcontent_ech form.form-inline .btn-sendrequest{
    height: 50px;
    width: 100%;
    color:  #0c639f;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid #0c639f;
    margin-left: 10px;
}
.insurance .tabcontent_ech form.form-inline .btn-sendrequest:hover,
.insurance .tabcontent_ech form.form-inline .btn-sendrequest:focus{
    color: #fff;
    border: 1px solid #bb8e36;
}

.ccne{
    display: none !important;
}
@media (max-width: 991px){
    .insurance .tabcontent_ech form.form-inline .btn_of_ech{
        width: 21%;
    }
}


/*********************************footer************************/

.footer{
    padding-top: 50px;
    padding-bottom: 10px;
    border-top: 1px solid #dadada;
}
.footer .address_company .logofooter{
    text-align: center;
    padding-top: 30px;
}
.footer .address_company img{
    margin-top: 33px;
    margin-bottom: 10px;
    margin: auto;
}
.footer .address_company .btn_getquote{
    background-color: #0c639e;
    color: #fff;
    width: 130px;
    transition-duration: 0.4s;
    margin-top: 10px;
}
.footer .address_company .btn_getquote:hover{
    background-color: #ff8a00;
    transition-duration: 0.4s;
}
.footer hr{
    width: 93%;
    margin-top: 0px;
}
.footer .address_company p{
    font-family: "OpenSans-Semibold";
    color: #435a6f;
    font-size: 13.5px;
}
.footer h4{
    color: #0c64a0;
    font-size: 15px;
    padding-bottom: 7px;
}
.footer .address_company{
    overflow: hidden;
    padding-bottom: 30px;
}
.footer .link_contact .colum_first{
    padding-left: 40px;
}
.footer .link_contact a p{
    font-family: "OpenSans-Regular";
    color: #435a6f;
    font-size: 13.5px;
}
.footer .link_contact a:hover p{
    color: #ff8a00;
}
.footer .link_contact{
    overflow: hidden;
    padding-bottom: 30px;
}
.footer .link_web .copyright{
    padding-left: 40px;
}
.footer .link_web .copyright p{
    color: #435a6f;
    padding-bottom: 5px;
}

.footer .link_web .link_facein{
    text-align: center;
}
.footer .link_web .link_facein ul li{
    list-style-type: none;
    margin-left: 30px;
    text-align: center;
    display: inline-block;
}
.footer .link_web .link_facein ul li a{
    color: #435a6f;
}
.footer .link_web .link_facein ul li a:hover{
    color: #ff8a00;
}
.footer .link_web .link_facein ul li .fa{
    font-size: 20px;
    color: #375da4
}
.footer .link_web .link_facein ul li:hover .fa{
    color: #ff8a00
}
.footer .designme{
    padding-left: 40px;
}
.footer .designme h4{
    color: #435a6f
}

@media (max-width: 1199px) and (min-width: 992px){
.view .right-view .btn_moreabout{
    width: 120px;
    margin-left: 10px;
}
.most_popular .item h4{
    height: 33px;
}
.footer .link_web .link_facein ul li{
    margin-left: 20px;
}
}

@media (max-width: 991px){
.service  .remove_border_mobi{
    border-right: none;
}
.view .right-view .btn_moreabout{
    margin-left: 0px;
}
.footer .address_company .logofooter{
    padding-top: 0px;
    padding-bottom: 20px;
}
.footer .link_contact .colum_first{
    padding-left: 0px;
}
.footer .link_web .copyright{
    padding-left: 15px;
    text-align: center;
}
.footer .link_web .link_facein ul li:first-child{
    margin-left: 0px;
}
.footer .link_web .link_facein ul{
    padding-left: 0px;
}
.footer .link_web .link_facein ul li{
    margin-left: 20px;
    margin-bottom: 15px;
}
}

@media (max-width: 991px) and (min-width: 768px){
.bg-cat-all .caption .caption-table .caption-table-cell .info h3{
    font-size: 20px;
    padding-bottom: 0px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info h4 {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 0px;
}
.service .right-service p {
    height: 20px;
}
.service .item{
    padding-bottom: 20px;
}
.service .left-service img{
    margin-top: 23px;
    margin-left: 15px;
}
.view .right-view h4{
    padding-top: 0px;
    margin-top: 0px;
}
.footer .address_company{
    padding-left: 0px;
    padding-right: 0px;
}
.footer .address_company .pading_mobi{
    padding-left: 0px;
    padding-right: 0px;
}

.footer .designme{
    padding-left: 0px;
}
}

@media (max-width: 767px){
.service .left-service{
    width: 100%;
    float: none;
    clear: both;
}
.service .left-service img{
    margin: auto;
    display: block; 
}
.service  .remove_border_mobifone{
    border-right: none;
}
.service .right-service {
    width: 100%;
    float: none;
    text-align: center;
}
.service .right-service p{
    height: auto;
}
.service .item{
    padding-bottom: 25px;
}
.service .right-service h4{
    font-size: 15px;
}
.service .right-service a{
    font-size: 13.5px;
}
.insurance .tabcontent_ech form.form-inline .btn-sendrequest{
    margin-left: 0px;
    width: 140px;
}
.insurance .tabcontent_ech form.form-inline .name_of_ech{
    width: 50%;
}
.footer .address_company .item{
    padding-bottom: 10px;
}
.footer .link_contact .colum_first{
    padding-left: 30px;
}
.footer .link_web .link_facein ul li{
    margin-left: 10px;
}

.footer .designme{
    padding-left: 30px;
}
.footer .designme h4{
    margin-top: 0px;
}
.insurance .tabcontent_ech form.form-inline .email_of_ech,
.insurance .tabcontent_ech form.form-inline .name_of_ech{
    width: 100%;
}
.insurance .tabcontent_ech p{
    width: 100%;
}
.view .right-view h4{
    font-size: 15px;
}
.most_popular .item p.content{
    font-size: 13.5px;
}
.footer .address_company img{
    width: 180px;
}
.footer .address_company .btn_getquote{
    width: 110px;
}
.insurance .navtab_ech{
    margin-top: 0px;
}
.most_popular{
    padding-bottom: 60px;
}
.view .left-view p{
    text-align: left;
}
.view{
    padding-top: 40px;
    
}
}

@media (max-width: 767px) and (min-width: 500px){
.bg-cat-all .caption .caption-table .caption-table-cell .info h3{
    font-size: 16px;
    padding-bottom: 0px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info h4 {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 0px;
    height: 41px;
    overflow: hidden;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info .btn_getquote{
    width: 115px;
    height: 35px;
}
.footer .address_company .item{
    width: 50%;
    float: left;
}
}
@media (max-width:689px){
.insurance .navtab_ech li{
    width: 50%;
}
}
@media (max-width:500px){
.bg-cat-all .caption .caption-table .caption-table-cell .info h3{
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    margin-top: 10px
}
.bg-cat-all .caption .caption-table .caption-table-cell .info h4 {
    font-size: 12px;
    line-height: 17px;
    padding-bottom: 0px;
    height: 35px;
    overflow: hidden;
    margin-bottom: 5px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info .btn_getquote{
    width: 100px;
    height: 30px;
    font-size: 13px;
    background-color: #375da4;
    color: #fff;
}
.bg-cat-all img{
    min-height: 142px;
}
.bg-cat-all .caption .caption-table .caption-table-cell .info{
    width: 66%;
}
}

.spinner {
    display: none !important;
}

.fontBig{
    font-size: 21px !important;
}

.bar{
    background-color: rgb(187, 142, 54) !important;
}
.bar-shadow{
    box-shadow: rgb(187, 142, 54) 0px 0px 10px, rgb(187, 142, 54) 0px 0px 5px !important;
}
.businesLatest h4{
    font-size: 16px;
}
.businesLatest{
    padding-bottom: 25px;
    border-bottom: 1px solid #dadada;
}
.hoverImg{
    display: block;
    position: relative;
    background: none;
    overflow: hidden;
}
.hoverImg img{
    width: 100%;
}


.boxFormAuto .btnGetQuote{
    float: right;
    margin-top: -10px;
    margin-right: 5px;
}
.boxFormAuto{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 25px 30px;
}
.boxFormAuto h3{
    color: #0c65a0;
}
.boxFormAuto p{
    color: #0c65a0;
    margin-bottom: 20px;
}
.boxFormAuto .fWidthForm1{
    width: 38.5%;
    height: 58px;
}
.boxFormAuto .fWidthForm2{
    width: 20%;
    height: 58px;
}
.boxFormAuto input{
    width: 100% !important;
    height: 40px;
    border-radius: 1px;
    outline: none;
    box-shadow: none;
}
.boxFormAuto .btnGetQuote{
    background-color: #0c639d;
    color: #fff;
    font-size: 13px;
    height: 38px;
    border-radius: 30px;
    width: 120px;
    transition-duration: 0.3s;
}
.boxFormAuto i{
    font-size: 12px;
}
.boxFormAuto .btnGetQuote:hover{
    background-color: #ff8a00;
    transition-duration: 0.3s;
}
.boxFormAuto a:hover{
    color: #ff8a00;
}
.boxFormAuto a{
    color: #0b619c;
    margin-right: 23px;
}
.boxFormAuto .wrapBot{
    padding-top: 25px;
}
@media (max-width: 1200px) and (min-width:992px){
    .boxFormAuto{
        padding: 5px 20px 30px;
    }
    .boxFormAuto a{
        margin-right: 2px;
    }
    .boxFormAuto .btnGetQuote{
        width: 90px;
        padding-left: 0px;
        padding-right: 0px;
        height: 34px;
    }
}
@media (max-width:991px) and (min-width: 768px){
    .boxFormAuto .btnGetQuote{
        margin-right: 13px;
    }
}
@media (max-width: 768px){
    .boxFormAuto h3{
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .boxFormAuto p{
        margin-bottom: 10px;
    }
    .boxFormAuto{
        padding: 5px 25px 20px;
    }
    .boxFormAuto .fWidthForm2,
    .boxFormAuto .fWidthForm1{
        width: 100%;
        margin-bottom: 10px;
    }
    .boxFormAuto a{
        margin-right: 4px;
    }
    .boxFormAuto .wrapBot{
        padding-top: 0px;
    }
}

.btnGetHeader{
    padding: 0px !important;
}
.loadSingleLearn h1,
.loadSingleLearn h2{
    font-family: "OpenSans-Semibold";
}
.loadSingleLearn ul,
.loadSingleLearn ol{
    padding-left: 30px;
    font-size: 13.5px;
}
.loadSingleLearn ul li,
.loadSingleLearn ol li{
    margin-bottom: 5px;
}
.loadSingleLearn p em{
    font-family: "OpenSans-Semibold";
}

.paginationLearn ul{
    padding-left: 0px;
    padding-top: 30px;
    margin-bottom: 70px;
}

.paginationLearn .ngx-pagination .current,
.paginationLearn .ngx-pagination a, 
.paginationLearn .ngx-pagination button,
.paginationLearn .ngx-pagination .disabled{
    padding: 4px 7px;
    font-size: 15px;
}
.paginationLearn .ngx-pagination .pagination-next,
.paginationLearn .ngx-pagination .pagination-previous{
    background-color: #eee;
}

@media (min-width: 991px){
    .afterscroll .totalView{
        height: 47px ;
        transition: height 0.8s ease;
    }
}
.totalView{
    height: 56px; 
    width: 100%; 
    background-color: #303342;
    transition: height 0.8s ease;
    display: none;
}
.totalView .visit{
    color: #fff; 
    font-size: 12px; 
    margin-top: 18px;
    text-align: center;
}
.totalView .leads{
    color: #fff; 
    font-size: 12px; 
    margin-top: 18px;
}
.totalView .number{
    font-size: 11px;
    background-color: #27d115;
    color: #fff;
    padding: 2px 7px;
    border-radius: 3px;
    margin-top: 18px;
    display: block;
    text-align: center;
    width: 96px;
}
.totalView .dash{
    color: #fff;
    background-color: #058dd7;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 10px;
    margin-top: 18px;
    display: block;
    text-align: center;
    width: 122px;
}
@media (max-width:767px){
    .afterscroll .totalView{
        overflow: hidden;
        padding-bottom: 12px;
        height: auto;
    }
    .totalView{
        overflow: hidden;
        padding-bottom: 12px;
        height: auto;
    }
    .totalView .leads{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .totalView .visit{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .totalView .dash{
        margin-top: 5px;
    }
    .totalView .number{
        display: inline;
        padding: 4px 20px;
    }
    .totalView .textCenterTotal{
        text-align: center;
        margin-top: 3px;
    }
}

.boxNewletter{
    background-color: #0c65a1;
    padding: 10px 15px 35px;
    margin-bottom: 30px;
}
.boxNewletter h4{
    color: #fff;
    font-size: 21px;
    text-align: center;
}
.boxNewletter p{
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin-bottom: 25px
}
.boxNewletter input{
    font-size: 13px;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 1px;
    height: 38px;
}
.boxNewletter .input-group-addon{
    background-color: #fff;
    border: none;
    height: 38px;
    width: 45px;
    padding: 0px;
}
.boxNewletter img{
    width: 22px;
}
.boxNewletter .btnSubmit{
    height: 38px;
    background-color: transparent;
    border: none;
}

@media (max-width: 1200px) and (min-width:992px){
    .boxNewletter img{
        width: 32px;
    }
    .boxNewletter h4{
        font-size: 18px;
    }
}


@media (max-width:991px){
    .boxNewletter img{
        width: 18px;
    }
    .boxNewletter h4{
        font-size: 23px;
    }
    .boxNewletter .input-group{
        width: 100%;
    } 
    .boxNewletter .input-group-addon{
        width: 50px;
    }
}


.itemLatest{
    margin-top: 15px;
}
.itemLatest img{
    width: 60px;
    float: left;
    margin-right: 12px;
    min-height: 56px;
}
.itemLatest .infoItemtest{
    padding-left: 72px;
}
/* .itemLatest p{
    color: #555;
} */
.itemLatest p:first-child{
    color: #bbb;
    margin-bottom: 5px;
}
.itemLatest p:last-child{
    overflow: hidden;
    height: 36px;
    line-height: 17px;
    color: #555;
}
.itemLatest:hover p:last-child{
    color: #bb8e36;
}

/*****************get a quote********************/

#submitGet button.close{
    width: 26px;
    height: 26px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
    background: #bb8e36;
    opacity: 1;
    margin-top: -21px;
    margin-right: -14px;
}
#submitGet button.close span{
    position: absolute;
    top: 1px;
    left: 7px;
}

#submitGet button.close:hover{
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    text-decoration: none;
}
#submitGet .modal-header{
    border: none;
    text-align: center;
    padding-top: 25px;
}

@media (min-width: 768px){
    .modal-sm {
        width: 445px;
    }
}

#submitGet label{
    color: #888888;
    font-family: "OpenSans-Regular";
    font-weight: normal;
}
#submitGet label span{
    color: #ff0000;
}

#submitGet .modal-content{
    border-radius: 0px;
}
#submitGet .modal-body{
    padding: 15px 25px 30px;
}
#submitGet .modal-body ::-webkit-input-placeholder{
    color: #a1acb3;
}
#submitGet .modal-body input{
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
}
#submitGet .modal-body select{
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    color: #a1acb3;
    padding-left: 10px;
}
#submitGet .btnSubClam{
    background-color: #279af1;
    color: #fff;
    font-size: 15px;
    height: 42px;
    width: 100%;
    border-radius: 3px;
    transition-duration: 0.3s;
}
#submitGet .btnSubClam:hover{
    background-color: #bb8e36;
    transition-duration: 0.3s;
}

/******************************************page chung*************************************/

.navBarBusines{
    border: none;
}
.navBarBusines li{
    float: none;
    clear: both;
    font-family: "OpenSans-Semibold";
}
.navBarBusines li a{
    font-size: 13.5px;
    border: none;
    border-radius: 0px;
    padding: 16px 15px;
    color: #989898;
}
.navBarBusines li.active a{
    border: none;
    color: #0c66a2;
    background-color: #f5f7f8;
}
.navBarBusines li:hover a{
    color: #0c66a2;
    background-color: #f5f7f8;
}
.boxQc{
    margin-bottom: 30px;
}

.businessInsuranceTop{
    background-color: #f7f7f7;
    padding-bottom: 30px;
}
.businessInsuranceTop h2{
    color: #0c629d;
    padding-top: 35px;
    font-size: 28px;
}
.businessInsuranceTop p{
    color: #888;
    text-align: center;
    width: 35%;
    margin: auto;
}

@media (max-width:991px){
.businessInsuranceTop p{
    width: 50%;
}
}
@media (max-width: 768px){
.businessInsuranceTop p{
    width: 60%;
}
}
@media (max-width: 500px){
.businessInsuranceTop p{
    width: 75%;
}
.businessInsuranceTop h2{
    font-size: 25px;
}
}
img.bgPoster{
    margin-top: 20px;
    margin-bottom: 25px;
}
.textPonly{
    clear: both;
    padding-top: 25px;
}

#about .aboutBisiness{
    overflow: hidden;
    padding-bottom: 7px;
}
p.pLast{
    clear: both;
    padding-top: 15px;
}
img.widthImg{
    width: 21px !important;
}

/**********************************business*****************************/

.businessInsurance{
    padding-top: 50px;
    padding-bottom: 70px;
}
.businessInsurance #about{
    padding-bottom: 30px;
}
.businessInsurance #about h4{
    font-size: 17px;
    color: #0c639d;
    margin-bottom: 5px;
}
.businessInsurance #about .aboutBisiness .iAbout{
    font-size: 13px;
    color: #282828;
}
.businessInsurance #about .aboutBisiness .pAbout{
    font-size: 13.5px;
    margin-top: 10px;
    color: #282828;
    line-height: 20px;
}
.businessInsurance #about .aboutIndustry,
.businessInsurance #about .aboutType,
.businessInsurance #about .aboutCase,
.businessInsurance #about .aboutStrategic{
    padding-top: 20px;
    overflow: hidden
}
.businessInsurance #about .aboutIndustry [class*="col-"],
.businessInsurance #about .aboutType [class*="col-"]{
    padding-left: 5px;
    padding-right: 10px;
}
.businessInsurance #about .aboutIndustry .itemLong img,
.businessInsurance #about .aboutType .itemLong img{
    width: 17px;
    float: left;
    margin-right: 10px;
}
@media (min-width: 1200px) {
  .businessInsurance .col-lg-1-5 { width: 20%; }
  .businessInsurance .col-lg-2-5 { width: 40%; }
  .businessInsurance .col-lg-3-5 { width: 60% !important; }
  .businessInsurance .col-lg-4-5 { width: 80%; }
  .businessInsurance .col-lg-5-5 { width: 100%; }
}
@media (min-width: 992px) {
  .businessInsurance .col-md-1-5 { width: 20%; }
  .businessInsurance .col-md-2-5 { width: 40%; }
  .businessInsurance .col-md-3-5 { width: 60%; }
  .businessInsurance .col-md-4-5 { width: 80%; }
  .businessInsurance .col-md-5-5 { width: 100%; }
}
.businessInsurance #about .aboutIndustry h4,
.businessInsurance #about .aboutType h4{
    padding-bottom: 15px;
}
.businessInsurance #about .aboutStrategic h4,
.businessInsurance #about .aboutCase h4{
    padding-bottom: 10px;
}

.businessInsurance #about .aboutIndustry .itemLong{
    height: 30px;
    margin-bottom: 5px;
    color: #282828;
}
.businessInsurance #about .aboutType .itemLong{
    height: 40px;
    margin-bottom: 5px;
    color: #282828;
}
.businessInsurance #about .aboutIndustry .itemLong p,
.businessInsurance #about .aboutType .itemLong p{
    margin-bottom: 0px;
    padding-left: 30px;
}
.businessInsurance #about .aboutStrategic .pStrategic,
.businessInsurance #about .aboutCase .pStrategic{
    font-size: 13.5px;
    line-height: 20px;
    padding-bottom: 6px;
}
.businessInsurance #about .aboutStrategic .itemLong{
    padding-left: 20px;
    padding-top: 5px;
}
.businessInsurance #about .aboutStrategic .itemLong img{
    width: 17px;
    float: left;
    margin-right: 12px;
}
.businessInsurance #about .aboutCase .itemLong{
    padding-bottom: 12px;
}
.businessInsurance #about .aboutCase .itemLong img{
    width: 17px;
    float: left;
    margin-right: 12px;
}
.businessInsurance #about .aboutCase .itemLong a{
    display: block;
    padding-left: 32px;
    font-family: "OpenSans-Semibold";
    font-size: 13px;
    color: #006ed5;
}
.businessInsurance #about .aboutCase .itemLong a:hover{
    color: #bb8e36;
}

@media (max-width: 1200px) and (min-width:992px){
.businessInsurance #about .aboutIndustry .itemLong{
    height: 35px;
}
.businessInsurance #about .aboutIndustry .itemLong p{
    line-height: 17px;
}
.businessInsurance #about .aboutType .itemLong p{
    line-height: 16px;
}
.businessInsurance #about .aboutType .itemLong{
    height: 45px;
}
}
@media (max-width:991px) and (min-width: 768px){
.businessInsurance .tabContentBusines{
    margin-top: 260px;
}
}



.bgAutoIsurance{
    background: url(../img/BgAutoInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgBuilderIsurance{
    background: url(../img/BgBuiderRickInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgDentalIsurance{
    background: url(../img/bgDentalInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgdirectorInsurance{
    background: url(../img/bgDirectorOfficerInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgEmployeeBenefitIsurance{
    background: url(../img/bgEmployeeBenefits.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgEmploymentIsurance{
    background: url(../img/bgEmploymentInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgEnvironmentIsurance{
    background: url(../img/bgEnvironmentalInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgEquipmentInsurance{
    background: url(../img/bgEquipmentInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgFiduciaryInsurance{
    background: url(../img/bgFiduciaryInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgHealthInsurance{
    background: url(../img/bgHealthInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgLifeInsurance{
    background: url(../img/bgLifeInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgProductInsurance{
    background: url(../img/bgProductInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgUmbrellaInsurance{
    background: url(../img/bgUmbrellaInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgVoluntaryInsurance{
    background: url(../img/bgVoluntaryInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgWorkerInsurance{
    background: url(../img/bgWorkerInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgDisabilityInsurance{
    background: url(../img/bgDisabilityInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgFloodInsurance{
    background: url(../img/bgFloodInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgHomeowners{
    background: url(../img/bgHomeowners.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgPersonalInsurance{
    background: url(../img/bgPersonalInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgPropertyInsurance{
    background: url(../img/bgPropertyInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgRecreationalInsurance{
    background: url(../img/bgRecreationalInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgRentersInsurance{
    background: url(../img/bgRentersInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgValuableInsurance{
    background: url(../img/bgValuableInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgWatercraftInsurance{
    background: url(../img/bgWatercraftInsurance.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}
.bgAboutUs{
    background: url(../img/bgAboutUs.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 240px;
    background-size: cover;
    padding: 65px 0 60px;
}
.bgBrokerInsurance1{
    background: url(../img/bgBrokerInsurance1.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 460px;
    background-size: cover;
    padding: 120px 0 120px;
}

.autoInsurance{
    padding-top: 50px;
    padding-bottom: 70px;
}
.autoInsurance #about{
    padding-bottom: 30px;
}
.autoInsurance #about h4{
    font-size: 17px;
    color: #0c639d;
    margin-bottom: 10px;
}
.autoInsurance #about .aboutBisiness{
    overflow: hidden;
    padding-bottom: 7px;
}
.autoInsurance #about .aboutBisiness p{
    font-size: 13.5px;
}
.autoInsurance .aboutBisiness .infowrapShit {
    padding-left: 35px;
}
.autoInsurance .aboutBisiness .itemwrapShit .pfirst{
    margin-bottom: 0px;
}
.autoInsurance .aboutBisiness .itemwrapShit{
    padding-left: 10px;
    padding-top: 15px;
}
.autoInsurance .aboutBisiness .itemwrapShit img{
    width: 19px;
    float: left;
    margin-top: 5px;
}

.autoInsurance .aboutBisiness .itemShitShit{
    margin-top: 15px;
}
.autoInsurance .aboutBisiness .itemShitShit .pfirst{
    margin-bottom: 0px
}
.autoInsurance .aboutBisiness ul{
    padding-left: 25px;
}
.autoInsurance .aboutBisiness ul li{
    margin-bottom: 15px;
    font-size: 13px;
}



@media (min-width: 1200px) {
  .autoInsurance .col-lg-1-5 { width: 20%; }
  .autoInsurance .col-lg-2-5 { width: 40%; }
  .autoInsurance .col-lg-3-5 { width: 55%; }
  .autoInsurance .col-lg-4-5 { width: 80%; }
  .autoInsurance .col-lg-5-5 { width: 100%; }
}
@media (min-width: 992px) {
  .autoInsurance .col-md-1-5 { width: 20%; }
  .autoInsurance .col-md-2-5 { width: 40%; }
  .autoInsurance .col-md-3-5 { width: 60%; }
  .autoInsurance .col-md-4-5 { width: 80%; }
  .autoInsurance .col-md-5-5 { width: 100%; }
}


@media (max-width:991px) and (min-width: 768px){
.autoInsurance .tabContentBusines{
    margin-top: 400px;
}
.builderIsurance .tabContentBusines{
    margin-top: 210px;
}
.dentalInsurance .tabContentBusines{
    margin-top: 160px;
}
.directorIsurance  .tabContentBusines{
    margin-top: 125px;
}
.employeeBenefit .tabContentBusines{
    margin-top: 360px;
}
.employmentIsurance .tabContentBusines{
    margin-top: 160px;
}
.equipmentIsurance .tabContentBusines{
    margin-top: 110px;
}
.productInsurance .tabContentBusines{
    margin-top: 255px;
}
.umbrellaInsurance .tabContentBusines{
    margin-top: 310px;
} 
.workerInsurance .tabContentBusines{
    margin-top: 310px;
}
.disabilityInsurance .tabContentBusines{
    margin-top: 110px;
}
.floodInsurance .tabContentBusines{
    margin-top: 275px;
}
.homeowners .tabContentBusines{
    margin-top: 265px;
}
.personalInsurance .tabContentBusines{
    margin-top: 160px;
}
.recreationalInsurance .tabContentBusines{
    margin-top: 275px;
}
.rentersInsurance .tabContentBusines{
    margin-top: 275px;
}
.publicInsurance .tabContentBusines{
    margin-top: 275px;
}
}
@media (max-width: 768px){
.bgAutoIsurance,
.bgBuilderIsurance{
    height: 380px;
    padding: 20px 0 20px;
}
}

/******************************************builder**********************************/

.builderIsurance .aboutBisiness .itemLong img{
    width: 19px;
    float: left;
}
.builderIsurance .aboutBisiness .itemLong{
    margin-bottom: 5px;
    color: #282828;
    margin-top: 15px;
}
.builderIsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}


/*********************************carries and payment***************************/

.carries{
    padding-top: 30px;
    padding-bottom: 70px;
}
.carries .itemImg{
    margin-bottom: 35px;
    border-width: 1px;
}
@media (max-width: 767px){
    .carries .itemImg{
      width: 100%;
    }
    .carries .itemImg img{
      margin: auto;
    }
}


.carries .alPha{
    text-align: center;
    padding-bottom: 30px;
}
.carries .alPha ul{
    padding-left: 15px;
    display: inline-block;
}
.carries .alPha ul li{
    list-style-type: none;
    float: left;
    margin-right: 12px;
}
.carries .alPha ul li a{
    font-size: 15px;
    color: #888888;
    font-family: "OpenSans-Semibold";
}
.carries .alPha ul li a.active{
    color: #00a1e4;
}
.carries .alPha ul li a:hover{
    color: #00a1e4;
}

.searchPayment{
    position:relative;
    display: inline-block;
  }
.searchPayment  [class^="icon-"]{
    color:#888888;
    border-radius:5px;
    display:inline-block;
    font-size:18px;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    cursor: pointer;
    z-index:10;
    position:relative;
    margin-top: -3px;
  }
.searchPayment  [class^="icon-"]:hover{
    color: #00a1e4;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
  }
.searchPayment .search_form{
    background-color: #f7f7f7;
    position:absolute;
    z-index:0;
    padding:0px 5px;
    right:0;
    top:15px;
    overflow: hidden;
    border-radius: 3px;
    width: 20px;
    height:0px;
    transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
    -webkit-transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
  }
.searchPayment .search_form form{
    opacity:0;
     transition:all 0.3s ease-out;
    -webkit-transition:all 0.3s ease-out;
  }
.searchPayment  .search_form input{
    background:#fff;
    border:none;
    color: #888888;
    outline: none
  }
 .searchPayment .search_form input[type='text']{
    margin:0px 1px 0px 0;
    padding:0px 65px 1px 5px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
 .searchPayment .search_form input[type='submit']{
    position: absolute;
    height: 28px;
    right: 7px;
    top: 6px;
    border-left: 1px solid #ddd;
  }
 .searchPayment .search_box{
    visibility: hidden;
  }
 .searchPayment .search_box:checked~.search_form{
    width: 260px;
    height:40px;
    padding: 5px;
    top:27px;
    transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
    -webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
  }
 .searchPayment .search_box:checked~.search_form form{
    opacity:1;
    transition:0.3s all ease-out 0.5s;
    -webkit-transition:0.3s all ease-out 0.5s;
  }


/*********************************dental***************************/

.dentalInsurance .aboutBisiness .itemLong img{
    width: 17px;
    float: left;
}
.dentalInsurance  .aboutBisiness .itemLong{
    color: #282828;
    margin-top:15px;
}
.dentalInsurance  .aboutBisiness .itemLong p{
    padding-left: 35px;
}
.dentalInsurance  img.width1{
    width: 15px !important;
}
.dentalInsurance img.width2{
    width: 18px !important;
}
.dentalInsurance img.width3{
    width: 20px !important;
}


/****************************director****************************/

.directorIsurance .aboutBisiness .itemLong img{
    width: 17px;
    float: left;
}
.directorIsurance  .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top: 10px;
}
.directorIsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}

/******************************benefit***************************/

@media (min-width: 1200px) {
    .employeeBenefit .col-lg-1-5 { width: 22%; }
    .employeeBenefit .col-lg-2-5 { width: 40%; }
    .employeeBenefit .col-lg-3-5 { width: 53%; }
    .employeeBenefit .col-lg-4-5 { width: 80%; }
    .employeeBenefit .col-lg-5-5 { width: 100%; }
  }
  @media (min-width: 992px) {
    .employeeBenefit .col-md-1-5 { width: 22%; }
    .employeeBenefit .col-md-2-5 { width: 40%; }
    .employeeBenefit .col-md-3-5 { width: 53%; }
    .employeeBenefit .col-md-4-5 { width: 80%; }
    .employeeBenefit .col-md-5-5 { width: 100%; }
    .header .main-header .loginCustom{
    border: none
}
  }

.employeeBenefit .aboutBisiness .itemLong img{
    width: 19px;
    float: left;
    margin-top: 3px;
}
.employeeBenefit .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top: 15px;
}
.employeeBenefit .aboutBisiness .itemLong p{
    padding-left: 35px;
}

/***********************employment****************************/


.employmentIsurance .aboutBisiness .itemLong img{
    width: 19px;
    float: left;
}
.employmentIsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:16px;
}
.employmentIsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}


/*************************environment*************************/


.environmentIsurance .aboutBisiness .itemLong img{
    width: 18px;
    float: left;
}
.environmentIsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:18px;
}
.environmentIsurance .aboutBisiness .itemLong p{
    padding-left: 30px;
}
.environmentIsurance  img.width1{
    width: 10px !important
}
.environmentIsurance  img.width2{
    width: 14px !important
}



/*****************************equipment************************/


.equipmentIsurance .aboutBisiness .itemLong img{
    width: 17px;
    float: left;
}
.equipmentIsurance .aboutBisiness .itemLong{
    color: #282828;
    margin-top: 8px;
    height: 30px;
}
.equipmentIsurance .aboutBisiness .itemLong p{
    padding-left: 30px;
    line-height: 17px;
}
.equipmentIsurance img.widthImg{
    width: 21px !important;
}
.equipmentIsurance .aboutBisiness ol,
.equipmentIsurance .aboutBisiness ul{
    padding-left: 54px;
}
.equipmentIsurance .aboutBisiness ul li{
    font-size: 13.5px;
    padding-bottom: 10px;
    padding-top: 10px
}

/*************************************fiduciary*********************************/

.fiduciaryInsurance .aboutBisiness .itemLong img{
    width: 15px;
    float: left;
}
.fiduciaryInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:18px;
}
.fiduciaryInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}
.fiduciaryInsurance img.width1{
    width: 16px !important
}
.fiduciaryInsurance img.width2{
    width: 24px !important
}
.fiduciaryInsurance img.width3{
    width: 18px !important;
}

/*************************Product*************************/


.productInsurance .aboutBisiness .itemLong img{
    width: 23px;
    float: left;
    margin-top: 3px;
}
.productInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.productInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}

/*************************************umbrella**************************/

.umbrellaInsurance .aboutBisiness .itemLong img{
    width: 20px;
    float: left;
}
.umbrellaInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.umbrellaInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}
.umbrellaInsurance .aboutBisiness ol{
    padding-left: 35px;
}
.umbrellaInsurance .aboutBisiness ol li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13.5px;
}


/***************************worker*****************************/


.workerInsurance .aboutBisiness .itemLong img{
    width: 17px;
    float: left;
}
.workerInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.workerInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}

.workerInsurance .aboutBisiness ol,
.workerInsurance .aboutBisiness ul{
    padding-left: 54px;
}
.workerInsurance .aboutBisiness ul li{
    font-size: 13.5px;
    padding-bottom: 10px;
    padding-top: 10px
}
@media (min-width: 1200px) {
    .workerInsurance .col-lg-1-5 { width: 20%; }
    .workerInsurance .col-lg-2-5 { width: 40%; }
    .workerInsurance .col-lg-3-5 { width: 60%; }
    .workerInsurance .col-lg-4-5 { width: 80%; }
    .workerInsurance .col-lg-5-5 { width: 100%; }
  }
  @media (min-width: 992px) {
    .workerInsurance .col-md-1-5 { width: 20%; }
    .workerInsurance .col-md-2-5 { width: 40%; }
    .workerInsurance .col-md-3-5 { width: 60%; }
    .workerInsurance .col-md-4-5 { width: 80%; }
    .workerInsurance .col-md-5-5 { width: 100%; }
  }


/****************************disability******************************/

.disabilityInsurance .aboutBisiness .itemLong img{
    width: 17px;
    float: left;
}
.disabilityInsurance .aboutBisiness .itemLong{
    color: #282828;
    margin-top: 8px;
    height: 30px;
}
.disabilityInsurance .aboutBisiness .itemLong p{
    padding-left: 30px;
    line-height: 17px;
}


/********************************flood**************************/

.floodInsurance .aboutBisiness .infowrapShit {
    padding-left: 35px;
}
.floodInsurance .aboutBisiness .itemwrapShit .pfirst{
    margin-bottom: 0px;
}
.floodInsurance .aboutBisiness .itemwrapShit{
    padding-left: 35px;
    padding-top: 15px;
}
.floodInsurance .aboutBisiness .itemwrapShit img{
    width: 27px;
    float: left;
    margin-top: 5px;
}
.floodInsurance .aboutBisiness .itemShitShit{
    margin-top: 15px;
}
.floodInsurance .aboutBisiness .itemShitShit .pfirst{
    margin-bottom: 0px
}
.floodInsurance .aboutBisiness ul{
    padding-left: 25px;
}
.floodInsurance .aboutBisiness ul li{
    margin-bottom: 15px;
    font-size: 13.5px;
    padding-left: 10px;
}


/*************************homeowner*********************/

.homeowners .aboutBisiness .infowrapShit {
    padding-left: 35px;
}
.homeowners .aboutBisiness .itemwrapShit .pfirst{
    margin-bottom: 0px;
}
.homeowners .aboutBisiness .itemwrapShit{
    padding-left: 10px;
    padding-top: 15px;
}
.homeowners .aboutBisiness .itemwrapShit img{
    width: 21px;
    float: left;
    margin-top: 5px;
}
.homeowners .aboutBisiness .itemShitShit{
    margin-top: 15px;
}
.homeowners .aboutBisiness .itemShitShit .pfirst{
    margin-bottom: 0px
}
.homeowners .aboutBisiness ul{
    padding-left: 25px;
}
.homeowners .aboutBisiness ul li{
    margin-bottom: 5px;
    font-size: 13.5px;
}

/*************************personal*************************/


.personalInsurance .aboutBisiness .h4Remove{
    margin-bottom: 5px !important;
}
.aboutBisiness .iFont13{
    font-size: 13px;
}
.personalInsurance .aboutBisiness .itemLong img{
    width: 19px;
    float: left;
}
.personalInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:16px;
}
.personalInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}

/************************property****************************/

.propertyInsurance .aboutBisiness .itemLong img{
    width: 19px;
    float: left;
}
.propertyInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:18px;
}
.propertyInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}


/*************************recreational******************************/

.recreationalInsurance .aboutBisiness .itemLong img{
    width: 21px;
    float: left;
    margin-top: 3px;
}
.recreationalInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.recreationalInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}
.recreationalInsurance .pTextBot{
    margin-bottom: 5px !important;
}
.recreationalInsurance .aboutBisiness ul{
    padding-left: 50px;
}
.recreationalInsurance .aboutBisiness ul li{
    list-style-type: none;
    font-size: 13.5px;
    margin-bottom: 5px;
}

/****************************renters***************************/

.rentersInsurance .aboutBisiness .itemLong img{
    width: 21px;
    float: left;
    margin-top: 3px;
}
.rentersInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.rentersInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}

/******************************valuable*************************/


.valuableInsurance .aboutBisiness .itemLong img{
    width: 17px;
    float: left;
}
.valuableInsurance .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:15px;
}
.valuableInsurance .aboutBisiness .itemLong p{
    padding-left: 35px;
}

/*******************************public**************************/

.publicInsuranceTop{
    background-color: #f7f7f7;
    padding-bottom: 15px;
}
.publicInsuranceTop h5 a{
    color: #0c629d;
}
.publicInsuranceTop h5{
    color: #0c629d;
    padding-top: 15px;
    font-size: 15px;
    padding-left: 30px;
}
.publicInsuranceTop h5 a:hover{
    color: #bb8e36;
}

.publicInsurance .aboutBisiness .itemLong img{
    width: 20px;
    float: left;
    margin-top: 3px;
}
.publicInsurance  .aboutBisiness .itemLong1 img{
    width: 19px;
    float: left;
    margin-top: 1px;
}
.publicInsurance  .aboutBisiness .itemLong1 p{
    color: #006ed5;
}
.publicInsurance  .aboutBisiness .itemLong1 a:hover p{
    color: #bb8e36;
}
.publicInsurance  .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.publicInsurance  .aboutBisiness .itemLong p{
    padding-left: 35px;
}
.publicInsurance  i.iRieng{
    font-size: 13.5px;
    color: #888888;
    padding-bottom: 5px;
    display: block;
}

/*******************************about**********************/


.bgAboutUs .boxFormAuto h2{
    font-size: 27px;
    line-height: 33px;
    color: #004b85;
}
.bgAboutUs .boxFormAuto h2 span{
    color: #cdb87d;
}

.aboutUs{
    padding-top: 50px;
    padding-bottom: 70px;
}
.aboutUs .left{
    padding-right: 25px;
}
.aboutUs .right{
    margin-top: 22px;
}
.aboutUs .aboutBisiness h4{
    font-size: 19px;
    color: #0c639d;
    margin-bottom: 10px;
}
.aboutUs .aboutBisiness{
    overflow: hidden;
    padding-bottom: 12px;
}
.aboutUs .aboutBisiness p{
    font-size: 13.5px;
}
.aboutUs .aboutBisiness .itemLong img{
    width: 20px;
    float: left;
    margin-top: 3px;
}
.aboutUs .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.aboutUs .aboutBisiness .itemLong p{
    padding-left: 35px;
}
.aboutUs  .title{
    color: #015089;
    margin-top: 75px;
    margin-bottom: 35px;
}
.aboutUs .titlep{
    margin-bottom: 40px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.aboutUs .title span{
    color: #cdb87d;
}
.aboutUs .itemImg{
    width: 100%;
    margin-bottom: 15px;
}
@media (max-width: 991px){
    .aboutUs .aboutUs .left{
        padding-right: 0px;
    }
}
@media (max-width:768px){
    .aboutUs .itemImg img{
        margin: auto;
    }
    .aboutUs .boxFormAuto h2{
        font-size: 18px;
    }
    .aboutUs .itemImg{
        border: 1px solid #bbb;
        margin-bottom: 15px;
        border-radius: 2px;
    }
    .aboutUs .title{
        margin-bottom: 15px;
    }
}

@media (max-width:400px){
    .aboutUs .boxFormAuto h2{
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .aboutUs .col-lg-1-5 { width: 20%; }
    .aboutUs .col-lg-2-5 { width: 40%; }
    .aboutUs .col-lg-3-5 { width: 60%; }
    .aboutUs .col-lg-4-5 { width: 80%; }
    .aboutUs .col-lg-5-5 { width: 100%; }
  }
  @media (min-width: 992px) {
    .aboutUs .col-md-1-5 { width: 20%; }
    .aboutUs .col-md-2-5 { width: 40%; }
    .aboutUs .col-md-3-5 { width: 60%; }
    .aboutUs .col-md-4-5 { width: 80%; }
    .aboutUs .col-md-5-5 { width: 100%; }
  }


  /******************************broker**********************************/

.brokerInsurance1 .aboutBisiness .itemLong img{
    width: 19px;
    float: left;
}
.brokerInsurance1 .aboutBisiness .itemLong{
    margin-bottom: 15px;
    color: #282828;
    margin-top:20px;
}
.brokerInsurance1 .aboutBisiness .itemLong p{
    padding-left: 35px;
}
.brokerInsurance1 p.pTitle{
    margin-top: 25px;
    clear: both;
}
.brokerInsurance1 p.pTitle a{
    color: #014fff;
}


/************************************contact*******************************/

.contactUs{
    padding-bottom: 70px;
}
.contactTop{
    background-color: #004b85;
    padding-bottom: 235px;
}
.contactTop h2{
    color: #fff;
    padding-top: 70px;
    font-size: 25px;
}
.contactUs .wrapper{
    border: 1.5px solid #ddd;
    background-color: #fff;
    margin-top: -170px;
    border-radius: 3px;

}
.contactUs .boxContact,
.contactUs .boxAdress{
    padding: 30px 25px;
    overflow: hidden;
}
.contactUs .wrapper label{
    font-weight: normal;
    color: #888;
    font-size: 13px;
}
.contactUs .wrapper input{
    height: 38px;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.contactUs .wrapper textarea{
    height: 150px;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.contactUs .wrapper select{
    height: 38px;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    width: 100%;
    border: 1px solid #bbb;
    padding-left: 8px;
    color: #888;
}
.contactUs .wrapper .btnSubmit{
    height: 42px;
    border-radius: 2px;
    width: 100%;
    background-color: #004b85;
    color: #fff;
    font-size: 13.5px;
    transition-duration: 0.3s;
}
.contactUs .wrapper .btnSubmit:hover{
    background-color: #bb8e36;
    color: #fff;
    transition-duration: 0.3s;
}
.contactUs .wrapper .title {
    font-size: 15px;
}
.contactUs .wrapper .customerSport,
.contactUs .wrapper .resoure{
    border: 1px solid #bbb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.contactUs .fa{
    color: #004b85;
}
.contactUs .fa-mobile{
    font-size: 34px;
    margin-left: 2px;
    margin-right: 8px;
    width: 25px;
    float: left;
}
.contactUs .item{
    overflow: hidden;
}
.contactUs .item .p1{
    display: inline-block;
    margin-top: 10px;
}
.contactUs .item .p2{
    display: inline-block;
    margin-top: 2px;
}
.contactUs .fa-envelope{
    font-size: 17px;
    margin-right: 10px;
    width: 25px;
    float: left;
}
.contactUs .item img{
    width: 19px;
    float: left;
    margin-right: 16px;
}
.contactUs .item a{
    margin-top: 6px;
    display: inline-block;
    color: #4586b0;
}
.contactUs .item a:hover{
    color: #bb8e36;
}

.contactUs .resoure p{
    margin-bottom: 7px;
    font-family: "OpenSans-Regular";
    color: #4586b0;
}
.contactUs .resoure a:hover p{
    color: #bb8e36;
}

.contactUs .boxAdress h3{
    color: #004b85;
    margin-top: 0px;
    margin-bottom: 25px;
}
.contactUs .boxAdress h4{
    font-size: 14px;
    color: #282828;
}
.contactUs .boxAdress p{
    font-size: 13.5px;
    color: #282828;
    margin-bottom: 7px;
}
.contactUs .boxAdress a p{
    margin-top: 20px;
    color: #4586b0;
}
.contactUs .boxAdress a:hover p{
    color: #bb8e36;
}
.contactUs .contactUs{
    padding-bottom: 75px;
}

.contactUs .paddBot{
    display: none
}

@media (max-width: 991px) and (min-width:768px){
    .contactUs .paddBot{
        margin-bottom: 60px;
        display: block
    }
}
@media (max-width:767px){
    .contactUs .itemAdd{
        margin-bottom: 25px;
    }
    .contactUs .boxAdress a p{
        margin-top: 10px;
    }
    .contactUs .boxAdress h3{
        text-align: left !important;
    }
}


/*************************************employee*********************************/

.employeeDirectory{
    padding-top: 30px;
    padding-bottom: 70px;
}
.employeeDirectory .row{
    border-bottom: 1px solid #eee;
}
.employeeDirectory .row:last-child{
    border-bottom: none;
}
.employeeDirectory h3{
    color: #004b85;
    margin-bottom: 25px;
    padding-top: 10px;
}
.employeeDirectory .itemPro{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}
.employeeDirectory .itemPro img{
    margin: auto;
    border-radius: 50%;
    border: 1.5px solid #fff;
    box-shadow: -1px 1px 2px 1px #bbb;
}
.employeeDirectory .itemPro h4{
    color: #888888;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}
.employeeDirectory .itemPro p{
    color: #888888;
    margin-bottom: 0px;
    font-size: 13.5px;
}
.employeeDirectory .itemPro .btnSendEmail{
    background-color: #d7d7d7;
    color: #888888;
    height: 28px;
    width: 86px;
    font-size: 15px;
    border-radius: 3px;
    padding: 0px;
    margin-top: 3px;
    transition-duration: 0.3s;
}
.employeeDirectory .itemPro .btnSendEmail:hover{
    color: #ff8a00;
    transition-duration: 0.3s;
}


/*******************************learning******************************/


.learningCenter{
    padding-bottom: 70px;
}

.learningCenter .boxInfo .branch p{
    padding: 10px 10px 10px 15px;
    background-color: #007ea7;
    color: #fff;
    width: 180px;
}
.learningCenter .boxInfo .branch h4{
    font-size: 29px;
    color: #fff;
    width: 72%;
}
.learningCenter .boxInfo{
    position: relative;
}
.learningCenter .boxInfo img{
    max-height: 432px;
    width: 100%;
}
.learningCenter .boxInfo .branch{
    position: absolute;
    bottom: 30px;
    left: 50px;
}
.learningCenter .boxInfo:hover .itemImg::before,
.learningCenter .boxInfoNho:hover .itemImg::before{
    opacity: 1;
}
.learningCenter .itemImg{
    position: relative;
}
.learningCenter .itemImg::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.0);
    background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    background: -o-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    background: -moz-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    content: '';
    opacity: 0.2;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}


.learningCenter .boxInfoNho{
    position: relative;
    margin-bottom: 10px;
}
.learningCenter .boxInfoNho img{
    height: 211px;
    width: 100%;
}
.learningCenter .left{
    padding-right: 5px;
}
.learningCenter .right{
    padding-left: 5px;
}
.learningCenter .boxInfoNho .branch p{
    padding: 7px 7px 7px 15px;
    background-color: #007ea7;
    color: #fff;
    width: 160px;
    font-size: 12px;
}
.learningCenter .boxInfoNho .branch h4{
    font-size: 18px;
    color: #fff;
    width: 72%;
}
.learningCenter .boxInfoNho .branch{
    position: absolute;
    bottom: 17px;
    left: 30px;
}





.learningCenter .question{
    padding-top: 25px;
}



.learningCenter .btnAskQues{
    background-color: #76ca01;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    transition-duration: 0.3s;
}
.learningCenter .btnAskQues:hover{
    background-color: #bb8e36;
    transition-duration: 0.3s;
}



@media (max-width: 1200px) and (min-width:992px){
.learningCenter .boxInfoNho img{
    height: 196px;
}
}


@media (max-width:991px){
.learningCenter .boxInfoNho img{
    height: auto;
}
.learningCenter .boxInfo img{
    margin-bottom: 10px;
}
.learningCenter .right{
    padding-left: 15px;
}
.learningCenter .left{
    padding-right: 15px;
}
}

@media (max-width: 768px){
    .learningCenter .boxInfo .branch h4{
        font-size: 20px;
    }
    .learningCenter .boxInfo .branch{
        position: absolute;
        bottom: 17px;
        left: 30px;
    }
}


#submitAsk button.close{
    width: 26px;
    height: 26px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
    background: #bb8e36;
    opacity: 1;
    margin-top: -21px;
    margin-right: -14px;
}
#submitAsk button.close span{
    position: absolute;
    top: 1px;
    left: 7px;
}

#submitAsk button.close:hover{
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    text-decoration: none;
}
#submitAsk .modal-header{
    border: none;
    text-align: center;
    padding-top: 25px;
}

@media (min-width: 768px){
    .modal-sm {
        width: 445px;
    }
}

#submitAsk label{
    color: #888888;
    font-family: "OpenSans-Regular";
    font-weight: normal;
}
#submitAsk label span{
    color: #ff0000;
}

#submitAsk .modal-content{
    border-radius: 0px;
}
#submitAsk .modal-body{
    padding: 15px 25px 30px;
}
#submitAsk .modal-body ::-webkit-input-placeholder{
    color: #a1acb3;
}
#submitAsk .modal-body input{
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
}
#submitAsk .modal-body select{
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    color: #a1acb3;
    padding-left: 10px;
}
#submitAsk .btnSubClam{
    background-color: #279af1;
    color: #fff;
    font-size: 15px;
    height: 42px;
    width: 100%;
    border-radius: 3px;
    transition-duration: 0.3s;
}
#submitAsk .btnSubClam:hover{
    background-color: #bb8e36;
    transition-duration: 0.3s;
}

.learningCenter .search-box-first .input-group {
    width: 75%;
    color: #888;
    z-index: 0;
}
.learningCenter .search-box-first input {
    border-radius: 30px !important;
    position: relative;
    background: rgba(255,255,255, 0.3);
    border: 1px solid #bbb;
    color: #888;
    height: 40px;
    outline: none;
    box-shadow: none;
    padding-right: 40px;
}
.learningCenter .search-box-first input:focus {
    box-shadow: 0 0 15px #bb8e36 !important;
    border: 0.4px solid #bb8e36 !important;
}

.learningCenter .search-box-first .input-group-addon {
    border-left: 0;
    border-radius: 15px;
    position: absolute;
    right: 24px;
    top: 3px;
    z-index: 2;
    background-color: transparent;
    border: none;
    z-index: 99999;
}
.learningCenter .search-box-first .fa-search{
    font-size: 22px;
    color: #bbb;
}
.learningCenter .search-box-first .fa-search:hover{
    color: #bb8e36;
}



.learningCenter .wrapperItem{
    padding-top: 30px;
}

.learningCenter .itemQuestion{
    overflow: hidden;
    margin-bottom: 20px;
}
.learningCenter .itemQuestion img{
    width: 250px;
    float: left;
}
.learningCenter .itemQuestion .title{
    color: #888888;
    font-size: 11px;
    margin-bottom: 5px;
}
.learningCenter .itemQuestion h4{
    color: #0c639d;
    margin-top: 5px;
    font-size: 19px;
}
.learningCenter .itemQuestion h4:hover{
    color: #bb8e36;
}
.learningCenter .itemQuestion p{
    font-size: 13.5px;
    line-height: 19px;
}
.learningCenter .itemQuestion p a{
    color: #00a1e4;
}
.learningCenter .itemQuestion p a:hover{
    color: #bb8e36;
}
.learningCenter .infoQues{
    padding-left: 280px;
}
@media (max-width: 768px){
    .learningCenter .itemQuestion img{
        width: auto;
        float: none;
        clear: both;
        margin-bottom: 10px;
    }
    .learningCenter .infoQues{
        padding-left: 0px;
    }
}


/**********************************single*********************************/


.singleInsurance .title{
    font-size: 18px;
    color: #0c639d;
    margin-bottom: 10px;
}
.singleInsurance p{
    font-size: 13.5px;
}


/*******************************certificate*************************/

.certificateInsurance{
    background-color: #f7f7f7;
    padding-bottom: 15px;
}
.certificateInsurance h5{
    color: #0c629d;
    padding-top: 15px;
    font-size: 15px;
    padding-left: 30px;
}
.certificateInsurance h5 a{
    color: #0c629d;
}
.certificateInsurance h5 a:hover{
    color: #bb8e36;
}

.certificateInsurance .aThree,
.certificateInsurance .aFour{
    display: none;
}

 input:focus::-webkit-input-placeholder,
 textarea:focus::-webkit-input-placeholder { 
    color:transparent; 
}
.certificates2,
.certificates1{
    display: none;
}



.certificates{
    padding-top: 160px;
    padding-bottom: 260px;
    text-align: center
}

.certificates .formOne .dropdown-toggle{
    height: 46px;
    width: 100%;
    background-color: #f0f4f7;
    color: #999;
    outline: none;
    text-align: left;
    border-radius: 0px;
}
.certificates .formOne .caret {
    float: right;
    margin-top: 10px;
}

.certificates .formOne .dropdown-menu{
    width: 100%;
    padding: 0;
    border-radius: 0px;
}
.certificates .formOne .dropdown-menu li a{
    padding-top: 14px;
    padding-bottom: 14px;
}
.certificates .formOne .dropdown-menu li:hover a{
    background-color: #04598d;
    color: #fff;
}




.certificates1,
.certificates2{
    padding-top: 40px;
    padding-bottom: 80px;
}
.certificates1 label,
.certificates2 label{
    color: #999faa;
    font-family: "OpenSans-Semibold";
}
.certificates1 h4,
.certificates2 h4{
    color: #04598d;
    font-family: "OpenSans-Bold";
    border-bottom: 2px solid #f0f4f7;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 17px;
    text-transform: uppercase;
}
.certificates1 .form-control,
.certificates2 .form-control{
    background-color: #f0f4f7;
    height: 40px;
    color: #909599;
    border-radius: 2px;
    outline: none;
    border: none;
    box-shadow: none;
}
.certificates1 textarea,
.certificates2 textarea{
    height: 250px !important;
}

.certificates1 .btnSubmit,
.certificates2 .btnSubmit{
    background-color: #1687bd;
    color: #fff;
    height: 50px;
    width: 100%;
    transition-duration: 0.3s;
    border-radius: 9px;
}
.certificates1 .btnSubmit:hover,
.certificates2 .btnSubmit:hover{
    background-color: #bb8e36;
    transition-duration: 0.3s;
}


/*********************************claim******************************/

.claimInsuranceTop{
    background-color: #f7f7f7;
    padding-bottom: 15px;
}
.claimInsuranceTop h5{
    color: #0c629d;
    padding-top: 15px;
    font-size: 15px;
    padding-left: 30px;
    display: inline-block;
}
.claimInsuranceTop .btnClaim{
    color: #fff;
    background-color: #279af1;
    height: 38px;
    border-radius: 3px;
    float: right;
    margin-top: 15px;
    font-size: 13px;
    width: 125px;
    transition-duration: 0.3s;
}
.claimInsuranceTop .btnClaim:hover{
    background-color: #bb8e36;
    transition-duration: 0.3s;
}
.claims{
    padding-top: 80px;
    padding-bottom: 90px;
}
.claims h2,
.claims h4{
    color: #0c629d;
}
.claims .itemClaim{
    margin-top: 35px;
    background-color: #f7f7f7;
    padding-top: 16px;
    padding-bottom: 16px;
}
.claims .itemClaim a p{
    margin-bottom: 0px;
    text-align: center;
    color: #0c649f;
}
.claims .itemClaim a:hover p{
    color: #279af1;
}
.claims .itemClaim a:focus p{
    color: #279af1;
}
.claims .itemClaim a p.active{
    color: #279af1; 
}


.claims .itemShow,
.claims .itemShow1,
.claims .itemShow2{
    padding-top: 25px;
    display: none
}
.claims .itemShow .blue-title,
.claims .itemShow2 .blue-title,
.claims .itemShow1 .blue-title{
    padding-bottom: 15px;
    font-family: "OpenSans-Bold";
    color: #004b85;
}
.claims .itemShow div,
.claims .itemShow2 div,
.claims .itemShow1 div{
    font-family: "OpenSans-Regular";
}
.claims .wrapperAdd div,
.claims .wrapperAdd2 div,
.claims .wrapperAdd1 div{
    padding-top: 2px;
    padding-bottom: 2px;
    color: #555555;
}
.claims .itemShow .telCallMe,
.claims .itemShow2 .telCallMe{
    padding-left:33px !important;
}
.claims .itemShow1 .telCallMe{
    padding-left: 40px !important;
}
.claims .itemShow .telCallTitle,
.claims .itemShow2 .telCallTitle,
.claims .itemShow1 .telCallTitle{
    padding-left: 40px !important;
}
.claims .itemShow .telCom,
.claims .itemShow2 .telCom,
.claims .itemShow1 .telCom{
    padding-left: 25px !important;
}
.claims .itemShow .telComTitle,
.claims .itemShow2 .telComTitle,
.claims .itemShow1 .telComTitle{
    padding-left: 10px !important;
}

@media (max-width: 1200px){
    .claims .itemShow .telCallTitle,
    .claims .itemShow2 .telCallTitle,
    .claims .itemShow1 .telCallTitle{
        padding-left: 35px !important;
    }
    .claims .itemShow1 .telCallMe{
        padding-left:35px !important;
    }
}
@media (max-width: 991px){
    .claims .itemShow .telCallTitle,
    .claims .itemShow2 .telCallTitle,
    .claims .itemShow1 .telCallTitle{
        padding-left: 30px !important;
    }
    .claims .itemShow .telCallMe,
    .claims .itemShow2 .telCallMe{
        padding-left:35px !important;
    }
    
}
@media (max-width: 767px){
    .claims .itemShow .telCallMe,
    .claims .itemShow2 .telCallMe,
    .claims .itemShow1 .telCallMe{
        padding-left: 0px !important;
    }
    .claims .itemShow .telCom,
    .claims .itemShow2 .telCom,
    .claims .itemShow1 .telCom{
        padding-left: 15px !important;
    }
}




#submitClam button.close{
    width: 26px;
    height: 26px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
    background: #bb8e36;
    opacity: 1;
    margin-top: -21px;
    margin-right: -14px;
}
#submitClam button.close span{
    position: absolute;
    top: 1px;
    left: 7px;
}

#submitClam button.close:hover{
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    text-decoration: none;
}
#submitClam .modal-header{
    border: none;
    text-align: center;
    padding-top: 25px;
}

@media (min-width: 768px){
    #submitClam .modal-sm {
        width: 445px;
    }
}

#submitClam label{
    color: #888888;
    font-family: "OpenSans-Regular";
    font-weight: normal;
}
#submitClam label span{
    color: #ff0000;
}

#submitClam .modal-content{
    border-radius: 0px;
}
#submitClam .modal-body{
    padding: 15px 25px 30px;
}
#submitClam .modal-body ::-webkit-input-placeholder{
    color: #a1acb3;
}
#submitClam .modal-body input{
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
}
#submitClam .modal-body select{
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    color: #a1acb3;
    padding-left: 10px;
}
#submitClam .btnSubClam{
    background-color: #279af1;
    color: #fff;
    font-size: 15px;
    height: 42px;
    width: 100%;
    border-radius: 3px;
    transition-duration: 0.3s;
}
#submitClam .btnSubClam:hover{
    background-color: #bb8e36;
    transition-duration: 0.3s;
}

#submitClam .setCalem{
    position: relative;
}
#submitClam .setCalem .input-group{
    width: 100%;
}
#submitClam .setCalem input{
    z-index: 2;
    background-color: transparent;
}
#submitClam .setCalem i{
    position: absolute;
    bottom: 10px;
    right: 12px;
    top: auto;
    cursor: pointer;
    z-index: 1;
    color: #777;
    font-size: 18px;
}


@media (max-width: 991px){
    .learningCenter .search-box-first .input-group{
        width: 100%;
    }
    .view .right-view p{
        text-align: left;
    }
    .bgAutoIsurance,
    .bgBuilderIsurance,
    .bgDentalIsurance,
    .bgdirectorInsurance,
    .bgEmployeeBenefitIsurance,
    .bgEmploymentIsurance,
    .bgEnvironmentIsurance,
    .bgEquipmentInsurance,
    .bgFiduciaryInsurance,
    .bgHealthInsurance,
    .bgLifeInsurance,
    .bgProductInsurance,
    .bgUmbrellaInsurance,
    .bgVoluntaryInsurance,
    .bgWorkerInsurance,
    .bgDisabilityInsurance,
    .bgFloodInsurance,
    .bgHomeowners,
    .bgPersonalInsurance,
    .bgPropertyInsurance,
    .bgRecreationalInsurance,
    .bgRentersInsurance,
    .bgValuableInsurance,
    .bgWatercraftInsurance,
    .bgAboutUs,
    .bgBrokerInsurance1{
        height: 380px;
        padding: 30px 0 20px;
    }
    .claimInsuranceTop .btnClaim{
        margin-right: 15px;
    }
}
@media (max-width: 767px){
    .footer .address_company .item,
    .footer .link_contact .colum_first,
    .footer .address_company .pading_mobi,
    .footer .paddLeftFooter{
        padding-left: 0px;
    }
    .bgAboutUs .boxFormAuto h2{
        font-size: 16px;
    }
    .contactTop h2{
        padding-top: 30px;
    }
    .contactTop{
        padding-bottom: 130px;
    }
    .contactUs .wrapper{
        margin-top: -100px;
    }
    .bgAutoIsurance,
    .bgBuilderIsurance,
    .bgDentalIsurance,
    .bgdirectorInsurance,
    .bgEmployeeBenefitIsurance,
    .bgEmploymentIsurance,
    .bgEnvironmentIsurance,
    .bgEquipmentInsurance,
    .bgFiduciaryInsurance,
    .bgHealthInsurance,
    .bgLifeInsurance,
    .bgProductInsurance,
    .bgUmbrellaInsurance,
    .bgVoluntaryInsurance,
    .bgWorkerInsurance,
    .bgDisabilityInsurance,
    .bgFloodInsurance,
    .bgHomeowners,
    .bgPersonalInsurance,
    .bgPropertyInsurance,
    .bgRecreationalInsurance,
    .bgRentersInsurance,
    .bgValuableInsurance,
    .bgWatercraftInsurance,
    .bgAboutUs,
    .bgBrokerInsurance1{
        height: 380px;
        padding: 20px 0 20px;
    }
    .carries .itemImg{
        border: 1px solid #bbb;
    }
}

.header .main-header .navbar-collapse{
        max-height: 370px;
}