<template>
    <b-container>
        <b-row>
            <div style="padding: 60px 0px">
                <div class="item" >
                    <h4>{{title}}</h4>
                   
                    <p v-html="content">
                    </p>
                </div>
            </div>
        </b-row>
    </b-container>
</template>

<script>
import axios from 'axios'

export default {
  async  asyncData ({ params }) {
    const { data } = await axios.get(`http://dinodemo.com/hig-backend/api/single-learning?slug=${params.slug}`)
    console.log(data)
    return data
  }
}
</script>
