<template>
  <section class="container">
    <b-container class="bv-example-row">
      <b-row>
        <b-col lg="12">
          <h1 class="text-center">{{title}}</h1>
          <div class="link" >
              <button  v-on:click="show = !show">I am a Link</button>
              <div v-if="show" mode="in-out">
                  <b-form-group
                      id="fieldset1"
                      label="Enter your name"
                      :feedback="feedback" 
                      :state="state"
                  >
                      <b-form-input id="input1"  :state="state" v-model.trim="name" placeholder="Enter your name"></b-form-input>
                  </b-form-group>
              </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>

export default {
  data: function () {
    return {
      show: true,
      title: 'Demo VueJs',
      name: ''
    }
  },
  computed: {
    feedback () {
      return this.name.length > 0 ? 'Enter at least 4 characters' : 'Please enter something'
    },
    state () {
      return this.name.length > 4 ? 'valid' : 'invalid'
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
</style>
