<template>
    <b-container>
        <b-row>
            <div>
                <h1>  </h1>
            </div>
            <div style="padding: 60px 0px">
                <div class="item" style="margin-bottom: 30px" v-for="result in data" :key="result.slug">
                    <h4>{{result.title}}</h4>
                     <b-img  :src="result.path_img" fluid alt="Responsive image"/>
                    <p style="display: inline">{{result.title}}</p>
                    <nuxt-link :to="'/' + result.slug">Read More</nuxt-link>
                </div>
            </div>
        </b-row>
    </b-container>
</template>
<script>
import axios from 'axios'

export default {
  data () {
    return {
      result: ''
    }
  },
  async asyncData ({ query }) {
    const { data } = await axios.get('http://dinodemo.com/hig-backend/api/learnings-center')
    console.log(data)
    return {
      data
    }
  },
  mounted () {
    // axios.get('http://dinodemo.com/hig-backend/api/learnings-center')
    //   .then(response => {
    //     this.results = response.data
    //     console.log(this.results)
    //   })
  }
  // methods: {
  //   fetchData: function () {
  //     const axios = require('axios')
  //     var self = this
  //     return axios.get('http://dinodemo.com/hig-backend/api/learnings-center')
  //       .then(function (response) {
  //         console.log(response.data)
  //       })
  //       .catch(function (error) {
  //         self.fetchError = error
  //       })
  //   }
}
</script>

