<template>
    <b-container>
        <b-row>
            <div>
                <h1> Contact Us </h1>
            </div>
            <div style="padding: 60px 0px">
                 <b-form-group label="Enter your name" :feedback="feedbackName" :state="checkName">
                    <b-form-input  placeholder="Name" :state="checkName" v-model.trim="name"></b-form-input>
                </b-form-group>

                <b-form-group label="Enter your email" :feedback="feedbackEmail" :state="checkEmail">
                    <b-form-input  placeholder="Email address" :state="checkEmail" v-model.trim="email"></b-form-input>
                </b-form-group>
                <!-- <b-form-group label="Enter your phone" :feedback="feedback" :state="state">
                    <b-form-input  placeholder="Phone number" :state="state" v-model.trim="phone"></b-form-input>
                </b-form-group>  -->
            </div>
        </b-row>
    </b-container>
</template>

<script>

export default {
  data: function () {
    return {
      name: '',
      email: ''
    }
  },
  computed: {
    feedbackName () {
      return this.name.length > 0 ? 'Enter at least 4 characters' : 'This field is required.'
    },
    feedbackEmail () {
      return this.email.length > 0 ? 'Enter at least 4 characters' : 'This field is required.'
    },
    checkName () {
      return this.name.length > 4 ? 'valid' : 'invalid'
    },
    checkEmail () {
      return this.email.length > 4 ? 'valid' : 'invalid'
    }
  }
}
</script>